@font-face {
  font-family: 'Norse Bold';
  src: url(/font/Norse-Bold.otf);
}

html {
  font-size: 62.5%;
}

body {
  background-color: burlywood;
}

main {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
}

h1 {
  font-weight: bold;
  font-size: 2rem;
}

em {
  font-style: italic;
}

label span {
  display: block;
}

input {
  font-size: 1.6rem;
  padding: 5px;
  border: 1px solid #e5e7eb;
  outline: none;
  border-radius: 3px;
}

input:focus {
  border-color: blue;
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.27);
}

section:nth-child(1) {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  background-image: url(/img/green-leaf-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #2f4117;
}

.logo-bar {
  position: absolute;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.36);
  top: 25%;
  width: 100%;
}

.logo-bar > div {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

.logo-bar > div img {
  height: 130px;
  width: 98px;
}

.logo-bar > div h1 {
  font-family: 'Norse Bold';
  font-size: 10rem;
  color: white;
  width: 100%;
}

.credits {
  position: absolute;
  color: #b5b5b5;
  bottom: 10px;
}

.credits p {
  font-size: 1.1rem;
}

.credits a {
  color: inherit;
}

section:nth-child(2) {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex: 2;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background-color: #cfcfcf;
}

section:nth-child(2) > div {
  flex: 1;
  padding-left: 45px;
  font-size: 1.2rem;
}

#call-action {
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 35px;
  padding-bottom: 35px;
  font-size: 2rem;
  font-weight: bold;
}

#call-action p {
  width: 560px;
}

section:nth-child(2) > div:nth-child(even) {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding-top: 15px;
  padding-bottom: 15px;
}

#register-form label span {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-weight: 600;
  padding-bottom: 5px;
  padding-top: 35px;
}

#register-form {
  display: flex;
  gap: 55px;
}

.col {
  display: flex;
  flex-direction: column;
}

.error {
  border: 1px solid #bd0303;
}

.error-msg {
  color: #bd0303;
}

#create-account-btn {
  width: 220px;
  background-color: #4a5639;
  color: white;
  padding: 15px;
  border: none;
  border-radius: 8px;
  font-size: 1.7rem;
  font-weight: bold;
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.37);
}

#action {
  padding-top: 35px;
  display: flex;
  flex-direction: column;
  gap: 35px;
}

#action p {
  font-size: 1.7rem;
}

#action a {
  color: #2f4117;
  font-weight: bold;
}
